.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  padding: 0 15px;
  outline: 1px solid red;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .container .rubric {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/*.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  & .rubric {
    display: flex;
    align-items: center;
  }

  &-duties {
    display: flex;
    justify-content: space-between;
  }
  &-tube {
    margin-right: 70px;
  }
}*/
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.logo .logo-accent {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
  }
}

/*.logo-accent {
  color: $accent-color;
}
.logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}*/
.modal-btn {
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  outline: none;
  cursor: pointer;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: #2196f3;
}

.social-list-icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-list-link:hover > .social-list-icon,
.social-list-link:focus > .social-list-icon {
  fill: #ffffff;
}

.slogan-web {
  display: flex;
  margin-bottom: 20px;
  color: #ffffff;
}

.social-web-list {
  display: flex;
}

.social-web-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-web-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-web-list-link:hover, .social-web-list-link:focus {
  background-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-web-list-icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: rgba(255, 255, 255, 0.9);
}

.social-web-list-link:hover > .social-web-list-icon,
.social-web-list-link:focus > .social-web-list-icon {
  fill: #ffffff;
}

.modal-btn-send {
  display: inline-flex;
  align-items: center;
  width: 200px;
  border-radius: 4px;
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal-icon-send {
  width: 24px;
  height: 24px;
  margin-left: 12px;
  fill: rgba(255, 255, 255, 0.9);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  position: absolute;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.close-black {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-black:focus, .close-black:hover {
  border-color: #2196f3;
}

.icon-close {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 20%;
  right: 20%;
}

.close-black:focus > .icon-close,
.close-black:hover > .icon-close {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form-btn {
  display: block;
  width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 auto;
}

.header {
  padding: 16px 0;
}

.navigation-list,
.address {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    padding: 21px 0;
  }
  .navigation-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 294px;
    margin-right: 84px;
  }
  .navigation-list-item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143px;
    letter-spacing: 0.02em;
    color: #212121;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
  }
  .navigation-list-link {
    position: relative;
    padding-bottom: auto;
  }
  .navigation-list-link:hover, .navigation-list-link:focus {
    color: #2196f3;
  }
  .navigation-list-link.current {
    color: #2196f3;
  }
  .navigation-list-link::after {
    position: absolute;
    content: "";
    display: block;
    transform: translateY(28px);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    color: #2196f3;
    background-color: #2196f3;
    opacity: 0;
  }
  .current::after {
    position: absolute;
    content: "";
    display: block;
    transform: translateY(28px);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    opacity: 1;
  }
  .navigation-list-link:hover::after {
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address {
    display: flex;
  }
  .address-cont {
    display: block;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.166;
    color: #757575;
  }
}

/*.header {
  padding: 25px 0;
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.navigation-list-item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.navigation-list-link {
  position: relative;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: $title-text-color;
  padding-bottom: auto;
  transition: 250ms $timing-function;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.navigation-list-link.current {
  color: $accent-color;
}

.navigation-list-link::after {
  position: absolute;
  content: "";
  display: block;
  transform: translateY(28px);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  color: $accent-color;
  background-color: $accent-color;
  opacity: 0;
}
.current::after {
  position: absolute;
  content: "";
  display: block;
  transform: translateY(28px);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;
  opacity: 1;
}
.navigation-list-link:hover::after {
  opacity: 1;
  transition: opacity 250ms $timing-function;
}

.address {
  display: flex;

  & > .address-cont {
    display: flex;
    align-items: center;
  }
}

.address-list {
  &:not(:last-child) {
    margin-right: 30px;
  }

  & {
    fill: $primery-text-color;
  }
}

.address-cont .address-mail {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  margin-left: 305px;
  color: $primery-text-color;
  transition: 250ms $timing-function;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.address-mail > .icon-envelope,
.address-tel > .icon-smartphone {
  display: block;
  margin-right: 10px;
}
.address-cont .address-tel {
  display: flex;
  align-items: center;
  font-style: normal;
  margin-left: -10px;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: $primery-text-color;
  transition: 250ms $timing-function;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}*/
.hero {
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(49, 41, 41, 0.5)), url(../images/images-hw-04/background-studio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.features {
  padding: 94px 0;
}

.features-list {
  display: flex;
  justify-content: space-between;
}

.icons-features {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.features-list-title {
  font-size: 14px;
  margin-bottom: 10px;
  color: #212121;
}

.features-list .features-list-item {
  font-weight: 400;
  width: 270px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.section-duties {
  padding-bottom: 94px;
}

.section-duties-title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: #212121;
}

.duties-element {
  position: relative;
}

.field-label {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.duties-label {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.section-crew {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.section-crew-title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 166;
  letter-spacing: 0.03em;
  color: #212121;
}

.crew {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.crew > .crewlist {
  width: 270px;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 4 - 30px);
  padding-bottom: 0px;
  border: 1px solid #ececec;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.crewlist > .face {
  margin-bottom: 30px;
}

.crewlist .passport {
  text-align: center;
  padding-bottom: 30px;
}

.crewlist .name {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.187;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #212121;
  font-style: normal;
  letter-spacing: 0.03em;
}

.regular-customer {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customer-list {
  display: flex;
  justify-content: space-between;
}

.customer-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}

.customer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover, .customer-link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.customer-link:hover > .customer-icon,
.customer-link:focus > .customer-icon {
  fill: #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.tube {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.tube .logo-tube {
  display: flex;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.address-tube {
  margin-top: 20px;
}

.address-tube .location {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  font-weight: 400;
  color: #ffffff;
}

.address-mail-item {
  margin-bottom: 9px;
  color: #ffffff;
}

.address-tube .address-tel-unit,
.address-tube .address-mail-unit {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.143px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.address-tube .address-tel-unit.address-mail-unit:hover, .address-tube .address-tel-unit.address-mail-unit:focus,
.address-tube .address-mail-unit.address-mail-unit:hover,
.address-tube .address-mail-unit.address-mail-unit:focus {
  color: #2196f3;
}

.address-tube .address-tel-unit.address-tel-unit:hover, .address-tube .address-tel-unit.address-tel-unit:focus,
.address-tube .address-mail-unit.address-tel-unit:hover,
.address-tube .address-mail-unit.address-tel-unit:focus {
  color: #2196f3;
}

.email-subscription {
  width: 570px;
  margin-left: 93px;
}

.form-subscription {
  display: flex;
  justify-content: flex-end;
}

.form-field-email {
  position: relative;
  margin-right: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.form-input {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 16px;
  padding-right: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
}

.form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
}

.modal-slogan {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-sender {
  margin-bottom: 10px;
}

.modal-form-field {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border: 1px solid #2196f3;
  cursor: pointer;
}

.modal-form-icon {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  width: 18px;
  height: 18px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: #2196f3;
}

.modal-form-fillup {
  height: 138px;
  margin-bottom: 20px;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  font-style: normal;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  border: 1px solid #2196f3;
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.user-agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.subject-agreement {
  color: #2196f3;
  margin-left: 6px;
}

.policy-agreement {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714px;
  letter-spacing: 0.03em;
}

.policy-agreement::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 7px;
  border-radius: 2px;
}

.user-policy:checked + .policy-agreement::before {
  background-image: url(../images/images-hw-04/icon-check.png);
  border: transparent;
}
/*# sourceMappingURL=main.css.map */