.section-crew {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $secondary-background-color;
}
.section-crew-title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 166;
  letter-spacing: 0.03em;
  color: $title-text-color;
}

.crew {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;

  & > .crewlist {
    width: 270px;
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 4 - 30px);
    padding-bottom: 0px;
    border: 1px solid #ececec;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: $primery-white-color;
  }
}

.crewlist > .face {
  margin-bottom: 30px;
}
.crewlist .passport {
  text-align: center;
  padding-bottom: 30px;
}
.crewlist .name {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.187;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: $title-text-color;
  font-style: normal;
  letter-spacing: 0.03em;
}
