.footer {
  padding-bottom: 60px;
  background-color: $primery-background-color;
}

.tube {
  & .logo-tube {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: $primery-white-color;
    text-decoration: none;
    padding-top: 60px;

    .logo-accent {
      color: $accent-color;
    }
  }
}
.container-tube {
  max-width: 480px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.address-box {
  margin-top: 20px;
  margin-bottom: 60px;
}

.address-mail-item {
  & > .location {
    font-style: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: $primery-white-color;
  }
}
.address-mail-item:not(:last-child) {
  margin-bottom: 8px;
}

.address-tube .address-tel-unit,
.address-tube .address-mail-unit {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.143px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms $timing-function;
  text-decoration: none;

  &.address-mail-unit:hover,
  &.address-mail-unit:focus {
    color: $accent-color;
  }

  &.address-tel-unit:hover,
  &.address-tel-unit:focus {
    color: $accent-color;
  }
}

@media screen and (min-width: 768px) {
  .tube {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .tube {
    flex-wrap: nowrap;
    align-items: baseline;

    .logo-tube {
      text-align: start;
      margin-bottom: 20px;
    }
  }
  .container-tube {
    margin: 0 70px 0 0;
    text-align: start;
  }
  .address-box {
    margin-bottom: 0;
  }
}
