.modal-btn-send {
  display: inline-flex;
  align-items: center;

  width: 200px;
  border-radius: 4px;
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: $primery-white-color;
  background-color: $accent-color;
  border: none;
  outline: none;
  cursor: pointer;
}
.modal-icon-send {
  width: 24px;
  height: 24px;

  margin-left: 12px;
  fill: rgba(255, 255, 255, 0.9);
}
