.container {
  width: 100%;
  padding: 0 15px;
  /*outline: 1px solid red;*/

  @media screen and (min-width: 480px) {
    max-width: 480px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;

    & .rubric {
      display: flex;
      align-items: center;
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

/*.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  & .rubric {
    display: flex;
    align-items: center;
  }

  &-duties {
    display: flex;
    justify-content: space-between;
  }
  &-tube {
    margin-right: 70px;
  }
}*/
