.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  & .rubric {
    display: flex;
    align-items: center;
  }

  &-duties {
    display: flex;
    justify-content: space-between;
  }
  &-tube {
    margin-right: 70px;
  }
}
